[submodule "modules/catch"]
	path = modules/catch
	url = https://github.com/philsquared/catch.git
[submodule "modules/unmidify"]
	path = modules/unmidify
	url = https://github.com/shaduzlabs/unmidify.git
[submodule "modules/cereal"]
	path = modules/cereal
	url = https://github.com/USCiLab/cereal.git
