[submodule "submodules/libusb"]
	path = submodules/libusb
	url = https://github.com/libusb/libusb.git
[submodule "submodules/hidapi"]
	path = submodules/hidapi
	url = https://github.com/signal11/hidapi.git
[submodule "submodules/rtmidi"]
	path = submodules/rtmidi
	url = https://github.com/thestk/rtmidi.git
[submodule "submodules/oscpack"]
	path = submodules/oscpack
	url = https://github.com/gardaud/oscpack.git
[submodule "submodules/catch"]
	path = submodules/catch
	url = https://github.com/philsquared/Catch.git
